.vulcan-content {
  position: relative;
}

.navigation-panel {
  display: flex;
  flex-direction: row;
  min-width: 56px;
  max-width: 56px;
  background-color: #fff;
}

.vulcan-content {
}

.help-panel {
  min-width: 240px;
  max-width: 240px;
}

.p6n-content-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.app-shell {
  height: 100%;
}

.app-layout {
  position: relative;
  flex-grow: 1;
  box-flex: 1;
}

/* Header */
.app-layout-header {

  // @include box-shadow($box-shadow);
  background-color: #fff;
  z-index: 100;
}

.navbar-toggle[data-action*="sidebar_toggle"] {
  margin-left: 15px;
}

.navbar-page-title {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  // padding-top: $navbar-padding-vertical;
  // padding-bottom: $navbar-padding-vertical;
  font-weight: $font-weight-bold;

  &::after {
    position: absolute;
    right: -15px;
    width: 1px;
    color: $gray-lighter;
    content: "|";
  }
}

.navbar-brand {
  // max-height: $navbar-height;
  padding: 0;
}

.navbar-brand .img {
  height: inherit;
}

/* Navbar Search form */
.navbar .app-search-form {
}

.navbar .app-search-form .form-control,
.navbar .app-search-form .btn {
  // border-color: $input-border;
  // background-color: $input-bg;
}

.navbar .app-search-form .form-group {
  width: 100%;
}

.navbar .app-search-form .input-group-btn {
  //width: 1%;
}

/* Backend header toolbar */
$toolbar-icon-height: 30px !default;

.navbar-toolbar > li:not(.dropdown-profile) > a {
  /*
  padding-top: ($navbar-height - $toolbar-icon-height) / 2;
  padding-right: 8px;
  padding-bottom: (($navbar-height - $toolbar-icon-height) / 2);
  padding-left: 8px;
*/
}

.navbar-toolbar a i {
  display: inline-block;
  width: $toolbar-icon-height;
  height: $toolbar-icon-height;
  font-size: 1.5em;
  line-height: $toolbar-icon-height;
  text-align: center;
}

.navbar-toolbar a i + .badge {
  position: absolute;
  top: 35%;
  right: 0;
  transform: translateY(-50%);
}
$profile-avatar-height: 48px !default;

.dropdown-profile a {
  // padding-top: ($navbar-height - $profile-avatar-height) / 2 !important;
  // padding-bottom: (($navbar-height - $profile-avatar-height) / 2) !important;
}

.dropdown-profile a span {
  vertical-align: middle;
}

/* Layout options */
/* Layout has boxed canvas */
.layout-has-boxed-canvas {
  background-color: #eee;
}

.layout-has-boxed-canvas .app-layout-canvas {
  // max-width: $container-lg;
  margin: 0 auto;
  // background-color: $body-bg;
}
