@import "mixins/rtl";

html,
body {
  height: 100%;
}

/* stylelint-disable selector-no-type */
a {
  cursor: pointer;
}
/* stylelint-enable selector-no-type */

.container {
  width: 100%;
  max-width: 980px;
}

.global-alert {
  margin-bottom: 0;
  border-radius: 0;

  .close {
    position: absolute;
    top: 0;
    border: 1px solid transparent;
    @include rtl-reflexive-position(right, 0);
  }
}
