$drawer-width: 240px !default;

.drawer {

  @include media-breakpoint-down(sm) {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
  }
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: $drawer-width;
  transform: translate3d(-100%, 0, 0);
  transform-style: preserve-3d;
  transition: .2s cubic-bezier(.4, 0, .2, 1) .1s;
  transition-property: transform, visibility;
  border-right: 1px solid $gray-lighter;
  background-color: #fff;
  font-weight: $font-weight-bold;
  visibility: hidden;
  z-index: 102;
}

.drawer.app-ui-layout-drawer-open {
  transform: translate3d(0, 0, 0);
}

.drawer.app-ui-layout-drawer-visible {
  visibility: visible;
}

.drawer__header {
  @include clearfix;

  position: relative;
  width: 100%;
  line-height: 1;
  overflow: hidden;
}

.drawer__content {
  transform: translateZ(0);
  font-size: 13px;
}

.nav-drawer-header {
  padding: 16px $card-spacer-x 8px;
  font-size: .875rem;
  letter-spacing: .5px;
  text-transform: uppercase;
  opacity: .38;

  &:first-of-type {
    padding-top: 0;
  }
}

/* Drawer nav-item with subnav */
.nav-item-has-subnav > a::after {
  position: absolute;
  top: 50%;
  right: $card-spacer-x;
  transform: translate(50%, -50%);
  font-family: Ionicons;
  font-size: 17px;
  content: "\f489";
}

.nav-item-has-subnav.open > a::after {
  content: "\f462";
}

/* Drawer subnav */
.nav-subnav {
  display: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

.nav-item-has-subnav.open > .nav-subnav {
  display: block;
}

.nav-subnav a {
  padding-right: $card-spacer-x;
  padding-left: $card-spacer-x * 2.333333;
  color: lighten(desaturate($body-color, 10%), 25%);

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: inherit;
  }
}

.nav-subnav .active a {
  color: inherit;
}

.drawer-footer {
}

.drawer-footer .copyright {
  margin-bottom: 0;
}

/* Layout has drawer */
.layout-has-drawer .app-layout-header,
.layout-has-drawer .app-layout-content,
.layout-has-drawer .app-layout-footer {
  @include media-breakpoint-up(lg) {
    padding-left: $drawer-width;
    -webkit-padding-start: $drawer-width;
    -moz-padding-start: $drawer-width;
  }
}

.layout-has-drawer .app-layout-drawer {
  @include media-breakpoint-up(lg) {
    transform: translateX(0);
    transition: none;
    visibility: visible;
  }
}
