/* Layout has fixed header */
.layout-has-fixed-header .app-layout-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.layout-has-fixed-header.layout-has-boxed-canvas .app-layout-header {
  right: auto;
  left: auto;
  width: 100%;
  max-width: $container-lg;
}

.layout-has-fixed-header .app-layout-content {
  padding-top: $app-header-height;
}
