.person-card {
  transition: box-shadow .3s;
  text-align: center;
  box-shadow: 0;

  &__link:link {
    color: inherit;
    text-decoration: none;
  }

  &__header {
    padding: 6px 0 8px;
  }

  &__image {
    display: block;
    height: 100px;
    margin: 10px auto 6px;
    border-radius: 50%;
  }

  &__title {
    width: 100%;
    margin-bottom: 0;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__subtitle {
    margin: 2px 0 0;
    color: $text-muted;
    font-size: 13px;
    font-weight: 400;
  }

  &__footer {
    display: block;
    padding: 8px 10px 10px;
  }
}
