.profile-card {
  // text-align: center;
}

.profile-card a {
  color: inherit;
}

.profile-card__banner {
  height: 135px;
  background-size: cover;
}

.profile-card__avatar-wrapper {
  display: block;
}

.profile-card__avatar {
  width: 6.25rem;
  min-width: 6.25rem;
  height: 6.25rem;
  margin-top: -4.125rem;
  margin-bottom: .5rem;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.profile-card__title {
  color: inherit;
  font-size: 1.5rem;
}

.profile-card__actions {
  display: flex;
}

.profile-card__action {
  margin-right: .5rem;
}

.profile-card__action:last-child {
  margin-right: 0;
}

.profile-card__list {
  padding: 0;
  list-style: none;

  &-item {
    display: inline-block;
    padding: 0 10px;
  }

  &-item + &-item {
    border-left: 1px solid #d4dbe0;
  }
}
