.profile-hero {
  position: relative;
  margin-bottom: $spacer-y;

  &__background {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
  }

  &__foreground {
    background-color: #fff;
  }

  &__avatar {
    @include rtl-reflexive-position(left, 0);
    width: 96px;
    height: 96px;
    position: absolute;
    bottom: 0;
  }

  &__actions {
    
  }
}
