.radio {
  margin: 7px 0;
}

.radio input {
  + span {
    width: 20px;
    height: 20px;
    border: 1px solid $gray-lighter;
    border-radius: 50%;
    background-color: #fff;

    &::after {

      @include transition(opacity .2s ease-out);
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 3px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
    }
  }

  &:checked + span::after {
    opacity: 1;
  }
}

.radio:hover input + span {
  border-color: $gray-lighter;
}
