.subheader {
  position: relative;
  max-height: 64px;
  padding-bottom: 10px;
  transition: all .15s ease-in-out;
  background-color: #eceff1;
}

.filter-date {
}

.filter-right {
  margin: 0 24px;
}

.report-filter ga-item-menu-display {
  display: inline-block;
  vertical-align: middle;
}

ga-item-menu-display .chip {
  max-width: 100%;
  height: 24px;
  margin: 0 8px 0 0;
  padding: 0 5px 0 12px;
  border: 1px dashed #999;
  border-radius: 12px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

ga-item-menu-display .chip.disabled {
  padding-right: 12px;
  cursor: not-allowed;
  opacity: .6;
}

ga-item-menu-display .chip md-icon {
  outline: none;
}

.report-filter .filter-list-icon {
  min-width: 18px;
  margin: 3px 3px 0 0;
  color: rgba(0, 0, 0, .54);
  font-size: 18px;
  line-height: 1;
}

ga-item-menu-display .chip-text {
  display: inline-block;
  max-width: 500px;
  padding-right: 32px;
  outline: 0;
  font: 500 12px Roboto, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Date range
ga-date-range-picker .date-range-display {
  white-space: nowrap;
}

md-input-container {
  display: inline-block;
  position: relative;
  margin: 18px 0;
  padding: 2px;
  vertical-align: middle;
}

ga-date-range-picker .dropdown {
  width: 260px;
  margin-bottom: -20px;
}

ga-date-range-picker .dropdown md-select-value span {
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
}

md-select.md-scionTheme-theme .md-select-value {
  border-bottom-color: rgba(0, 0, 0, .12);
}

.md-select-value > span:not(.md-select-icon) {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
}

md-input-container.md-input-has-value .md-select-value > span:not(.md-select-icon) {
  -webkit-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
}

ga-date-range-picker .date-range-dropdown md-select-value span .md-text {
  padding-bottom: 5px;
  font-style: medium;
}

.md-select-value > span:not(.md-select-icon) .md-text {
  display: inline;
}

ga-date-range-picker .dropdown md-select-value span {
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
}

.md-select-value .md-select-icon {
  display: block;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  width: 24px;
  margin: 0 4px;
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
  font-size: 1.2rem;
  text-align: end;
  -webkit-box-align: end;
}

.md-select-menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  opacity: 0;
  z-index: 90;
}

ga-date-range-picker .compare-arrows-icon {
  display: inline;
  margin: 0 4px 0 36px;
  color: rgba(0, 0, 0, .54);
  font-size: 18px;
}

ga-date-range-picker .comparison-date-text {
  display: inline;
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
}

//
.md-toolbar-tools {
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 64px;
  max-height: 64px;
  margin: 0;
  padding: 0 16px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .005em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.p6n-action-bar-title {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .005em;
  line-height: 20px;
}

.p6n-action-bar-layout-parent {
  -webkit-flex: 1;
  flex: 1;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-width: 1px;
  margin-left: 56px;
  -webkit-box-flex: 1;
}
