.switch {

}

.switch {
  margin: 3px 0;
}

.switch input + span {
  width: 54px;
  height: 30px;
  border-radius: 30px;
  background-color: $gray-lighter;
  transition: background-color .4s;

  &::after {

    @include box-shadow(1px 0 3px rgba(0, 0, 0, .1));
    top: 2px;
    bottom: 2px;
    left: 3px;
    width: 26px;
    border-radius: 50%;
    background-color: #fff;
    transform: .15s ease-out;
  }
}

.switch input:checked + span {
  background-color: #ddd;

  &::after {
    @include box-shadow(-2px 0 3px rgba(0, 0, 0, .1));
    // @include translate(23px, 0);
  }
}

/* CSS Switches Variations */
// Small switch
.switch-sm {
  margin: 8px 0 7px;
  font-size: 12px;
}

.switch-sm input + span {
  width: 36px;
  height: 20px;
}

.switch-sm input + span::after {
  width: 16px;
}

.switch-sm input:checked + span::after {
  // @include translate(15px, 0);
}

// Large switch
.switch-lg {
  margin: 1px 0;
}

.switch-lg input + span {
  width: 70px;
  height: 34px;
}

.switch-lg input + span::after {
  width: 30px;
}

.switch-lg input:checked + span::after {
  // @include translate(35px, 0);
}

// Square switch
.switch-square input + span,
.switch-square input + span::after {
  border-radius: 0;
}

//.switch-default input:checked + span { background-color: $app-light; }
.switch-primary input:checked + span {  background-color: $brand-primary;
}
