/* stylelint-disable selector-no-type */
th {
  font-weight: $font-weight-bold;
  text-align: start;
}

.table thead th {
  border-bottom: 1px solid $gray-lighter;
  background-color: $gray-lightest;
}

.table {
  font-size: $font-size-sm;
}

.table th,
.table td {
  vertical-align: middle;
}
/* stylelint enable selector-no-type */

.table-row {
  &--active {
    background-color: lighten($brand-warning, 32.5%);
  }
}

.table-cell {
  &__action {
    text-align: center;
  }
}
